<h1>Side Notes</h1>

<div class="ui modal" id="signin">
  <div class="header">Sign In</div>
  <div class="content">
    <form class="ui form" method="POST" action="/signin">
      <div class="field">
        <label>E-mail</label>
        <input type="email" name="username" placeholder="joe@schmoe.com">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="password">
      </div>
      <div class="ui field">
        <input type="submit" value="Submit" class="ui button" />
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
      </div>
    </form>
  </div>
</div>

<div class="ui modal" id="register">
  <div class="header">Register</div>
  <div class="content">
    <form class="ui form" method="POST" action="/register">
      <div class="field">
        <label>First Name</label>
        <input type="text" name="firstname" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" name="lastname" placeholder="Last Name">
      </div>
      <div class="field">
        <label>E-mail</label>
        <input type="email" name="username" placeholder="joe@schmoe.com">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="password">
      </div>
      <div class="ui field">
        <input type="submit" value="Submit" class="ui button" />
      </div>
      <div class="actions">
        <div class="ui cancel button">Cancel</div>
      </div>
    </form>
  </div>
</div>
